@media screen and (max-width: 1086px){
  .grid{
    margin: 0 !important;
    gap:0.5rem;
  }
}

@media screen and (max-width: 1030px){
  .header {
    width: 100%;
    nav {
      .nav-bar {
        width: 50% !important;
        justify-content: space-between;
      }
    }
  }
  .header-absolute {
    div {
      width: 12rem !important;
      height: 12rem !important;
    }
  }

  .grid {
    margin: 0  !important;
  }
  .main2 {
    .city1 {
      .p2 {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  header {
    width: 100vw !important;
  }
  .search-options {
    justify-content: space-around !important;
  }
  .grid {
    width: 100vw !important ;
    margin: 0 !important;
    .grid-item {
      width: 12rem !important;
      height: 20rem !important;
      font-size: 0.8rem;
    }
  }

  .main2 {
    height: 40rem !important;

    justify-content: space-around !important;

    .city2 {
      width: 20rem !important;
      height: 20rem !important;
      box-shadow: 1rem 1rem goldenrod !important;
      align-items: center !important;
    }
  }

  .header {
    width: 100%;
    nav {
      .nav-bar {
        width: 60% !important;
        justify-content: space-between;
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .main2 {
    .city1 {
      p {
        font-size: 0.7rem;
      }
    }
  }
  .grid {
    .grid-item {
      width: 7rem !important;
      height:10rem !important;
    .text{
      display: none !important;
    }
    }
  }

  .header {
    nav {
      justify-content: center;
      flex-flow: column wrap;
      align-items: center;
      .nav-bar {
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .search-bar {
    width: 80vw !important;
    margin: 0 !important;
  }
  .search-options {
    width: 80vw !important;
    margin: 0 !important;
  }
}
  @media only screen and (max-width: 426px){
    .city2{
      margin-top:8rem;
      width: 8rem !important;
      height:8rem !important;
    }
  }




@media screen and (max-width: 380px) {
  .search-options {
    flex-flow: column wrap !important;
    align-items: center !important;
    justify-content: center;
    margin: 0 auto;
  }
  .search-bar{
    margin:0 auto;
  }
  .main2 {
    width: 100vw !important;
    .city1 {
      p {
        display: none !important;
      }
    }
  }
  .main2{
    .city{
      flex-flow: column wrap !important;
      align-items: center;
      .city2{
        margin-top: 0.5rem;
      }
    }
  }
  .headings{
    text-align: center !important;
  }
  footer{
    text-align: center !important;
  }



}
@media screen and (max-width: 321px){
  .grid{
    .grid-item{
         width:5rem !important;
         height:8rem !important;
         .image{
          height:10% !important;
          
         }
         
    }
  }
  .headings{
    span{
      display: none !important;
    }
    button{
      display: none !important;
    }
  }

}