@import "./media.scss";

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

@font-face{
  font-family: Bebasneue;
  src: url(./fonts/Lalezar-Regular.ttf)
}


header {
  height: 50rem;
  width: 100%;
  background-image: url(./images/dogs1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  .header {
    height: 80%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;

    nav {
      width: 80%;
      height: 6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        font-size: 1.3rem;

        a:hover {
          opacity: 0.5;
        }

        i {
          color: rgb(201, 174, 24);
          font-size: 3rem;
          margin-right: 1rem;
        }
        h1 {
          display: inline;
        }
      }
      .nav-bar {
        width: 40%;
        display: flex;
        justify-content: space-around;
        font-size: 1.5rem;
        a:hover {
          color: gold;
        }
        i {
          color: gold;
          font-weight: bolder;
        }
      }

      a {
        text-decoration: none;
        color: white;
      }
    }
    .headings {
      display: flex;

      flex-flow: column wrap;
      align-items: center;
      justify-content: space-between;
      height: 40%;
      .h11 {
        color: rgb(227, 102, 61);
        font-size: 3rem;
        font-family: Bebasneue;
      }
      .h12 {
        color: white;
        font-size: 3rem;
      }
      span {
        color: rgb(227, 102, 61, 0.8);
        font-size: 1.5rem;
        font-weight: bolder;
      }
      button {
        background-color: rgb(231, 184, 67);
        color: white;
        border: none;
        height: 3rem;
        padding: 0.5rem;
        border-radius: 0.8rem;
      }

      button:hover {
        background-color: whitesmoke;
        color: rgb(231, 184, 67);
        opacity: 0.8;
        cursor: pointer;
      }
    }
    .header-footer {
      color: rgb(227, 102, 61, 0.8);
      font-weight: bolder;
      font-size: 1.5rem;
    }
  }
  .header-absolute {
    position: absolute;
    bottom: -10rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 !important;
    div {
      height: 20rem;
      width: 17rem;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

main {
  width: 100%;
  height: fit-content;

  h1 {
    margin: 12rem auto 2rem;
    text-align: center;
    color: rgb(0, 0, 0, 0.7);
  }

  .search-bar {
    margin: 0 auto;
    width: 40rem;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    cursor: pointer;
    color: rgb(0, 0, 0, 0.5);
    border-radius: 2rem;
    padding: 1rem;
    font-weight: bolder;
    i {
      color: goldenrod;
    }
  }

  .search-options {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 2rem auto;
    .option {
      display: flex;
      justify-content: space-between;
      width: 30%;
    }
    .option1 {
      a {
        background-color: rgb(176, 168, 168);
        color: white;
        padding: 0.5rem;
        border-radius: 1rem;
        font-size: 0.8rem;
      }
      a:hover {
        background-color: goldenrod;
        cursor: pointer;
      }
    }
    .option2 {
      a {
        padding: 0.5rem;
        border-radius: 1rem;
        font-size: 0.8rem;
        background-color: white;
        color: rgb(0, 0, 0, 0.5);
        border: 0.1rem solid rgb(0, 0, 0, 0.5);
      }
      a:hover {
        border: 0.1rem solid goldenrod;
        cursor: pointer;
        color: goldenrod;
      }
    }
  }

  .grid {
    margin: 2rem auto;
    display: grid;

    row-gap: 1rem;
    width: 70%;
    .grid-item {
      width: 20rem;
      height: 18rem;
      background-color: rgb(237, 237, 226);

      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;

      .image {
        height: 40%;
        background-color: white;
        border-radius: 0.5rem;
        margin: 0.5rem;
        img {
          height: 8rem;
          width: 100%;
          border-radius: 0.5rem;
        }
        img:hover {
          border-radius: 0;
          opacity: 0.8;
        }
      }
      .text {
        height: 40%;
        width: 100%;

        h1 {
          display: inline;
          font-size: 1.5rem;
          color: rgb(0, 0, 0, 0.5);
        }
        span {
          color: rgb(0, 0, 0, 0.3);
        }
        button {
          background-color: white;
          padding: 0.5rem;
          border-radius: 1rem;
          color: rgb(0, 0, 0, 0.2);
          border: none;
          font-size: 0.8rem;
          width: 8rem;
        }
        button:hover {
          color: rgb(0, 0, 0, 0.5);
          background-color: rgb(231, 184, 67);
          font-weight: bolder;
        }
      }
    }
    .grid-item-1 {
      grid-row: 1;
      grid-column: 1;
    }
    .grid-item-2 {
      grid-row: 1;
      grid-column: 2;
    }
    .grid-item-3 {
      grid-row: 1;
      grid-column: 3;
    }
    .grid-item-4 {
      grid-row: 2;
      grid-column: 1;
    }
    .grid-item-5 {
      grid-row: 2;
      grid-column: 2;
    }
    .grid-item-6 {
      grid-row: 2;
      grid-column: 3;
    }
  }
  .main2 {
    background-color: rgb(241, 238, 238);
    padding: 0.1rem;
    height: 40rem;

    h1 {
      margin: 2rem;
    }
    .city {
      width: 100%;
      justify-content: center;
      display: flex;

      .city1 {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        width: 50%;

        h1 {
          color: gold;
        }
        p {
          display: inline;
          color: rgb(0, 0, 0, 0.7);
          margin: 1rem;
        }
        button {
          background-color: rgb(233, 182, 55);
          color: rgb(0, 0, 0, 0.6);
          border: none;
          padding: 0.5rem;
          border-radius: 1rem;
          width: 8rem;
          font-size: 0.8rem;
          display: inline;
        }
        button:hover {
          background-color: white;
          border: 0.1rem solid rgb(255, 215, 0, 0.5);
        }
      }
      .city2 {
        width: 25rem;
        height: 25rem;
        background-image: url(./images/city.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 2rem 2rem goldenrod;
      }
    }
  }
}

footer {
  height:20rem;
  background-image: url(./images/forfooter.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;

  h1 {
    font-size: 4rem;
    color: white;
    font-weight: bolder;
    font-family: Bebasneue;
  }
  button {
    width: 8rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: gold;
    color: rgb(0, 0, 0, 0.6);
    border: none;
  }
  button:hover {
    background-color: white;
    border: 0.1rem solid gold;
  }
  span {
    display: block;
    color: white;
    font-size: 1.5rem;
    a {
      color: gold;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
